{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'users/bootstrap.css' %} " rel="stylesheet">
    <link href="{% static 'users/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'users/main.css' %} " rel="stylesheet">
    <title>sign up</title>
</head>
<body>
   <header></header> 
   <main>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Register as Client</h1>
            <p class="col-lg-10 fs-4">Sign up to your dashboard and check your activities.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light">
              <div class="form-floating mb-3">
                <input type="name" class="form-control" id="floatingInput" placeholder="Company Name">
                <label for="floatingInput">Company Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Company Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="www.example.com">
                <label for="floatingInput">Company Website</label>
              </div>
              <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingInput" placeholder="Phone Number">
                <label for="floatingInput">Phone Number</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Location">
                <label for="floatingInput">Company Location</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Input code">
                <label for="floatingInput">Input Registeration Code</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Verify Password">
                <label for="floatingPassword">Verify Password</label>
              </div>
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
              <hr class="my-4">
              <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
          </div>
        </div>
      </div>
   </main>
   <footer></footer>
   <script src="{% static 'users/bootstrap.js' %} "></script>
   <script src="{% static 'users/bootstrap.bundle.js' %} "></script>
   <script src="{% static 'users/bootstrap.bundle.min.js' %} "></script>
</body>
</html>