<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'pages/bootstrap.css' %} " rel="stylesheet">
    <link href="{% static 'pages/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'pages/main.css' %} " rel="stylesheet">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

    <title>login</title>
</head>
<body class="text-center">
   <header></header> 
   <main class="form-signin">
    <form>
        <img class="mb-4" src="" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Sign into dashboard</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Company Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>
   </main>
   <footer></footer>
   <script src="{% static 'pages/bootstrap.js' %} "></script>
   <script src="{% static 'pages/bootstrap.bundle.js' %} "></script>
   <script src="{% static 'pages/bootstrap.bundle.min.js' %} "></script>
</body>
</html>