
        Body{
            background-color: #CCD9EF;
            position: relative;
        }
        
        ul li{
            float: left;
            text-align: right;
            text-decoration: none;
            padding: 10px;
            margin: 10px;
        }
        main {
            text-align: center;
            border: 1px solid black;
            margin: 100px;
            padding: 30px;
            background-color: whitesmoke;
            border-radius: 20px;
            box-shadow: 5px 5px 6px black;
            position: relative;
            display: flexbox;
        }  
            
        
       
        
    
      
        footer{
            text-align: center;
            margin: 50px;
        }
